:root {
    --hero-title-color:#FFFFFF;
    --title-text-color: #212121;
    --text-main-color: #757575;
    --accent-color: #2196F3;
    --primary-section-bgc: #E5E5E5;
    --secondary-section-bgc:#F5F4FA;
    --footer-bgc: #2F303A;
    --footer-info-color: rgba(255, 255, 255, 0.6);
  }

/*default*/

h1 , h2 , h3 {
    margin: 0;
    padding: 0;
}

ul , p {
    padding: 0;
    margin: 0;
}

button {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

/*section names*/

.page-head {
    background-color: var(--hero-title-color);
    border-bottom: 1px solid #ECECEC;
}


footer {
    background-color: var(--footer-bgc);
}

body {
    background-color: var(--primary-section-bgc);
    font-family: Roboto , sans-serif;
    letter-spacing: 0.06em;
    margin: 0;
 }

main {
    background-color: var(--hero-title-color);
}

.portfolio {
    background-color: var(--hero-title-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 94px;
}

.portfolio-text {
    background-color: var(--hero-title-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.team-container {
    background-color: var(--secondary-section-bgc);
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-container {
    background-color: var(--hero-title-color);
    padding-top: 94px;
    padding-bottom: 94px;

}

.clients-item-team {
    display: flex;
    content: "";
    width: 170px;
    height: 90px;

    background-color: #F5F4FA;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    margin-right: 30px;

}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-list-item {

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--hero-title-color);
}

.footer-social-item {

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: inherit;
}

.social-item-logo {

    --color1: inherit;
    --color2: #FFFFFF;
}

.social-list-item:focus , .social-list-item:hover {
    --color1: var(--hero-title-color) ;
    background-color: var(--accent-color);
}

.social-list-item + .social-list-item {

    margin-left: 10px;
}

.container-portfolio {
    padding: 100px 15px 94px 15px;
}

/*logo*/

.logo {
    color: var(--title-text-color);
    
    font-family: Raleway , sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    text-decoration: none;
}

.logo-white {
    color: var(--hero-title-color);
    background-color: inherit;

    font-family: Raleway , sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    text-decoration: none;
    margin-bottom: 20px;
}

.logo-part {
    color: var(--accent-color);
    background-color: inherit;

    font-family: Raleway , sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/*title names*/

.studio {
    background-color: var(--footer-bgc);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/img-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {

    display: block;

    width: 696px;
    height: 120px;

    margin-bottom: 30px;

    color: var(--hero-title-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;

}

.section-title {

    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

}

.section-title-about {
    
    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;

}


.section-title-team {

    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 94px;
}

.section-title-clients {

    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.undersection-title {
   
    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
}

.undersection-filter {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;

}

.works-img {
    display: block;
}

.undersection-names {
   
    background-color: var(--hero-title-color);
    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;

    padding-top: 30px;
    padding-bottom: 10px;
}

/*text-decoration*/

.main-text {
   
    margin-top: 10px;

    color: var(--text-main-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*second-page*/

.main-text-filter {

    color: var(--text-main-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;  

    padding-top: 4px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}

.works-item {

    margin-right: 30px;
    margin-bottom: 30px;
    border: solid var(--primary-section-bgc);
    background-color: var(--hero-title-color);
}

/*second-page*/

.main-text-profession {

    background-color: var(--hero-title-color);
    color: var(--text-main-color);

    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    padding-top: 10px;
    padding-bottom: 16px;
}

.footer-settings {

    display: flex;

    padding-left: 214px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bgc);
}

/*links-decoration*/

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    border-radius: 4px;
    color: var(--hero-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}

/*second-page*/

.filter-nav {
    display: flex;
    justify-content: center;

    width: 1200px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

}

.filter-nav.button {
    background-color: var(--secondary-section-bgc);
    color: var(--title-text-color);
}

/*second-page*/

.link-nav a{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.contact {
    color: var(--text-main-color);
    background-color: inherit;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact::before {
    display: block;
    content: ;
    width: 16px;
    height: 12px;
}

.link .contact-footer {
    color: var(--footer-info-color);
    background-color: inherit;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: block;
    text-decoration: none;
    margin-top: 9px;
} 
.link .adress {

    display: block;

    color: var(--hero-title-color);
    background-color: inherit;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    text-decoration: none;
}

.item .current {
    color: var(--accent-color);
}

/*second-page*/

.button-filter {

    color: var(--title-text-color);
    background-color: var(--secondary-section-bgc);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    border-radius: 4px;
    padding: 6px 22px;
}

.btn-list:not(:last-child) {
    margin-right: 8px;
}

/*dynamic-effects*/

.link-nav a:focus ,
.link-nav a:hover ,
.contact:focus ,
.contact:hover ,
.link-nav .contact-footer:hover ,
.link-nav .contact-footer:focus {
    color: var(--accent-color);
}

/*second-page*/

.button-filter:hover ,
.button-filter:focus {
    background-color: var(--accent-color);
    color: var(--hero-title-color);
}

/*second-page*/

/*others*/

ul {
    list-style: none;
}

/*container*/

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

.link-nav {
    display: flex;
    padding-left: 93px;
}

.link-nav .item + .item {
    margin-left: 50px;
}

.contact-nav {
    display: block;
    margin-left: auto;
}

.contact-nav .contact + .contact {
    margin-left: 50px;
}

/*footer*/

.row-container {

    display: flex;
    flex-direction: column;  
}

.row-container + .row-container {
    margin-left: 70px;
}



.footer-asign {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-top: 12px;
    margin-bottom: 20px;

    color: #FFFFFF;
}

 /*Список работ*/

 .container-works {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

.works-item:nth-child(3n) {
    margin-right: 0;
}

.works-item:nth-child(n+7) {
    margin-bottom: 0;
}

.container-feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.flex-container{

    width: 270px;

    margin-right: 30px;
}

.flex-container:last-child {

    margin-right: 0;
}

.flex-container:nth-child(1)::before {
    display: block;
    content: "";

    height: 120px;

    background-image: url(../image/SVG/antenna.svg);
    background-size: 65px 70px;
    background-repeat: no-repeat;

    background-position: center;

    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.flex-container:nth-child(2)::before {
    display: block;
    content: "";

    height: 120px;

    background-image: url(../image/SVG/clock.svg);
    background-size: 65px 70px;
    background-repeat: no-repeat;

    background-position: center;

    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.flex-container:nth-child(3)::before {
    display: block;
    content: "";

    height: 120px;

    background-image: url(../image/SVG/Vector.svg);
    background-size: 65px 70px;
    background-repeat: no-repeat;

    background-position: center;

    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.flex-container:nth-child(4)::before {
    display: block;
    content: "";

    height: 120px;

    background-image: url(../image/SVG/astronaut.svg);
    background-size: 65px 70px;
    background-repeat: no-repeat;

    background-position: center;

    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.about-work {
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

.about-work-title {
    display: flex;
    justify-content: center;

}

.about-work-content {
    
    margin-right: 30px; 
}

.about-work-content:last-child {
    margin-right: 0;
}

.container-team {

    display: flex;
    flex-wrap: wrap;
    
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.works-item-team {

    background-color: var(--hero-title-color);

    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    
    border: solid var(--primary-section-bgc);
    border-radius: 0px 0px 4px 4px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.works-item-team:last-child {
    margin-right: 0;
}