
.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    border-radius: 4px;
    color: var(--hero-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}
