.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.item .current {
    color: var(--accent-color);
}

.item .current::after {
    content: "";

    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;

    background: var(--accent-color);
    border-radius: 2px;
}


.link-nav {
    display: flex;
    padding-left: 93px;
}

.link-nav .item + .item {
    margin-left: 50px;
}
 
.link-nav .item {
    position: relative;
}

.link-nav a:focus ,
.link-nav a:hover ,
.contact:focus ,
.contact:hover ,
.link-nav .contact-footer:hover ,
.link-nav .contact-footer:focus {

    color: var(--accent-color);
    --color2: var(--accent-color);
}


.logo {
    color: var(--title-text-color);
    
    font-family: Raleway , sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    text-decoration: none;
}

.logo-part {
    color: var(--accent-color);
    background-color: inherit;

    font-family: Raleway , sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.contact-nav-logo {
    margin-right: 10px;
}

.mail {
    margin-top: 2px;
}

.contact-nav {
    display: flex;
    margin-left: auto;
}


.contact {

    display: flex;
    justify-content: center;
    color: var(--text-main-color);
    background-color: inherit;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,
    --color2 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav .contact + .contact {
    margin-left: 50px;
}

