
.modal-text {
    top: 40px;
    left: 0;
    right: 0;

    margin-bottom: 12px;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}

.backdrop {
    position: fixed;
    z-index: 999;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;

}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);
    transition: scale 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    width: 528px;
    transform: translate(-50%, -50%) scale(0.8);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    top: 50%;
    left: 50%;
    
    padding: 40px;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
}

.data-modal-close {
    position: absolute;
    top: 8px;
    right: 8px;


    width: 30px;
    height: 30px;

    background-color: inherit;
    color: inherit;
}

.data-modal-close svg:focus , .data-modal-close svg:hover {
    --color2: var(--accent-color);
}
