
.social-list {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 24px;
}

.footer-social-list {
    display: flex;
    align-items: center;
}

.social-list-item {

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--hero-title-color);

    transition: --color1 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-list-item {

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);  

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,
    --color2 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-logo {

    --color1: inherit;
    --color2: #FFFFFF;
}

.footer-list-item:focus , .footer-list-item:hover , .social-list-item:focus , .social-list-item:hover {
    --color1: var(--hero-title-color) ;
    background-color: var(--accent-color);
}

.list-item + .list-item {

    margin-left: 10px;
}
