/*
* {
   outline: 1px solid; 
}
*/
h1 , h2 , h3 {
    margin: 0;
    padding: 0;
}

ul , p {
    padding: 0;
    margin: 0;
}

button {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

input {
    box-sizing: border-box;
}

ul {
    list-style: none;
}


