:root {
    --hero-title-color:#FFFFFF;
    --title-text-color: #212121;
    --text-main-color: #757575;
    --accent-color: #2196F3;
    --primary-section-bgc: #E5E5E5;
    --secondary-section-bgc:#F5F4FA;
    --footer-bgc: #2F303A;
    --footer-info-color: rgba(255, 255, 255, 0.6);
  }
