
.page-head {

    position: fixed;
    width: 100%;
    height: auto;
    z-index: 99;    

    top: 0;
    left: 50%;

    transform: translate(-50%);

    background-color: var(--hero-title-color);
    border-bottom: 1px solid #ECECEC;
}

.link-nav a{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,
    --color2 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
