
.studio {
    background-color: var(--footer-bgc);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero/img-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {

    display: block;

    width: auto;
    height: 120px;

    margin-bottom: 30px;

    color: var(--hero-title-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;

}
