.menu-button {
    
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;

    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.container-mobile {
    display: block;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-container {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    height: 400px;
    background-color: var(--hero-title-color);
    
    padding-bottom: 4px;

    text-align: center;
    font-size: 20px;

    &.is-open {
        display: block;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link-navigation {
    margin-top: 20px;
    margin-bottom: 20px;
}


.contact-navigation .contact {
    margin-top: 16px;
}

.link-navigation .item {
    margin-top: 40px;
    margin-bottom: 40px;
}