
.clients-container {
    background-color: var(--hero-title-color);
    
    padding-top: 60px;
    padding-bottom: 60px;
    
    //padding-top: 94px;
    //padding-bottom: 94px;

}

.section-title-clients {

    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    //margin-bottom: 50px;
}

.container-team-client {

    display: block;
    flex-wrap: wrap;
    
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 30px;

    @media screen and (min-width: 480px) {
        width: 480px;
        display: flex;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        
    }



}

.item-team {

    background-color: var(--hero-title-color);

    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    @media screen and (min-width: 480px) {
        flex-basis: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 6 * 15px) / 3);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 12 * 15px) / 6);
        
    }
}

.clients-item-team {
    display: flex;
    content: "";
    width: 100%;
    height: 90px;

    background-color: #F5F4FA;
    align-items: center;
    justify-content: center;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: --color1 250ms cubic-bezier(0.4, 0, 0.2, 1),
    --color3 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
/*
.item-team + .item-team {
    margin-left: 30px;
}
*/
.clients-item-team:focus , .clients-item-team:hover {
    border-color: var(--accent-color);
    --color1: var(--accent-color);
    --color3: var(--accent-color)
}
