
.container-portfolio {
    padding: 180px 15px 94px 15px;
}

.filter-nav {
    display: flex;
    justify-content: center;

    width: 1200px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

}

.filter-nav.button {
    background-color: var(--secondary-section-bgc);
    color: var(--title-text-color);
}

.button-filter {

    color: var(--title-text-color);
    background-color: var(--secondary-section-bgc);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    border-radius: 4px;
    padding: 6px 22px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,
    --color2 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list:not(:last-child) {
    margin-right: 8px;
}

.button-filter:hover ,
.button-filter:focus {
    background-color: var(--accent-color);
    color: var(--hero-title-color);
}

.container-works {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

.works-item {

    margin-right: 30px;
    margin-bottom: 30px;
    border: solid var(--primary-section-bgc);
    background-color: var(--hero-title-color);
}

.works-item:nth-child(3n) {
    margin-right: 0;
}

.works-item:nth-child(n+7) {
    margin-bottom: 0;
}

.works-item-link {
    text-decoration: none;
}


.undersection-filter {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;

}

.main-text {
   
    margin-top: 10px;

    color: var(--text-main-color);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.main-text-filter {

    color: var(--text-main-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;  

    padding-top: 4px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}

.works-img-describe {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;
}

.works-describe {
    position: absolute;
    width: 100%;
    min-height: 294px;

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    left: 0;
    bottom: 0;
    transform: translateY(100%);

    z-index: 2;
    
    background-color: rgba(33, 150, 243, 0.9);
}

.works-item-link:hover .works-describe {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-describe-text {

    display: block;
    position: absolute;
    width: 322px;
    height: 168px;

    color: var(--hero-title-color);

    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    letter-spacing: 0.03em;
}

