


.portfolio-text {
    background-color: var(--hero-title-color);

   

    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //padding-top: 94px;
    //padding-bottom: 94px;

}

.main-text {
    margin-top: 10px;
    margin-bottom: 30px;
    color: var(--text-main-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.container-feature {
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: center;

    //width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 30px;
    //margin-left: auto;
    //margin-right: auto;
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;

        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        
        width: 1200px;
    }

}

.flex-container{

    //width: 270px;

    //margin-right: 30px;

    margin: 15px;

    @media screen and (min-width: 480px) {
        width: 480px - 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 4 * 15px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 8 * 15px) / 4);
    }
}
/*
.flex-container:last-child {

    margin-right: 0;
}
*/
.flex-container:nth-child(1)::before {
    display: block;
    content: "";

    height: 120px;

    background-image: url(../image/SVG/antenna.svg);
    background-size: 65px 70px;
    background-repeat: no-repeat;

    background-position: center;

    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.flex-container:nth-child(2)::before {
    display: block;
    content: "";

    height: 120px;

    background-image: url(../image/SVG/clock.svg);
    background-size: 65px 70px;
    background-repeat: no-repeat;

    background-position: center;

    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.flex-container:nth-child(3)::before {
    display: block;
    content: "";

    height: 120px;

    background-image: url(../image/SVG/Vector.svg);
    background-size: 65px 70px;
    background-repeat: no-repeat;

    background-position: center;

    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.flex-container:nth-child(4)::before {
    display: block;
    content: "";

    height: 120px;

    background-image: url(../image/SVG/astronaut.svg);
    background-size: 65px 70px;
    background-repeat: no-repeat;

    background-position: center;

    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.undersection-title {
   
    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center; 
}
