
.team-container {
    background-color: var(--secondary-section-bgc);
    padding-top: 60px;
    padding-bottom: 60px;
    //padding-top: 94px;
    //padding-bottom: 94px;
}

.section-title-team {

    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    //margin-bottom: 94px;
}

.container-team {

    //display: flex;
    //flex-wrap: wrap;
    
    //width: 1230px;
    //padding-left: 15px;
    //padding-right: 15px;
    //margin-left: auto;
    //margin-right: auto;
    //margin-left: -15px;
    //margin-right: -15px;

    padding-bottom: 30px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        
        width: 1200px;
    }
}

.works-item-team {

    background-color: var(--hero-title-color);

    //margin-right: 30px;
    //margin-bottom: 30px;
    //padding-bottom: 30px;

    margin: 15px;
    
    border: solid var(--primary-section-bgc);
    border-radius: 0px 0px 4px 4px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 480px) {
        width: 480px - 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 4 * 15px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 8 * 15px) / 4);
    }
}

/*
.works-item-team:last-child {
    margin-right: 0;
}
*/
.works-img {
    display: block;
}

.undersection-names {
   
    background-color: var(--hero-title-color);
    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;

    padding-top: 30px;
    padding-bottom: 10px;
}

.main-text-profession {

    background-color: var(--hero-title-color);
    color: var(--text-main-color);

    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    padding-top: 10px;
    padding-bottom: 16px;
}
